################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Diiage2020.Csharp.Client.UnitTests/bin/Debug/netcoreapp3.1
/Diiage2020.Csharp.Client.UnitTests/obj
/Diiage2020.Csharp.Server.UnitTests/bin/Debug/netcoreapp3.1
/Diiage2020.Csharp.Server.UnitTests/obj
/Diiage2020.CsharpGame.Client.Entities/bin/Debug/netcoreapp3.1
/Diiage2020.CsharpGame.Client.Entities/obj
/Diiage2020.CsharpGame.Client.Services/obj
/Diiage2020.CsharpGame.Entities/bin/Debug/netcoreapp3.1
/Diiage2020.CsharpGame.Entities/obj
/Diiage2020.CsharpGame.Server.Core/obj
/Diiage2020.CSharpGame.Server.Services/obj
/Diiage2020.CsharpGames.Client.UWP/obj
/UnitTestProject1/bin/Debug/netcoreapp3.1
/UnitTestProject1/obj

/Diiage2020.CsharpGames.Client.UWP/bin/x86/Debug
/Diiage2020.CsharpGame.Entities/bin/Debug/netstandard2.0
/Diiage2020.CsharpGame.Entities/bin/Debug
/Diiage2020.CsharpGames.Client.UWP/bin/x64/Debug
/Diiage2020.CsharpGame.Client.Services/bin/Debug/netcoreapp3.1
/Diiage2020.CsharpGame.Entities/bin/Debug
/Diiage2020.CsharpGame.Server.Core/bin/Debug/netcoreapp3.1
/Diiage2020.CSharpGame.Server.Services/bin/Debug/netcoreapp3.1
/Diiage2020.CsharpGames.Client.UWP/bin/x86/Debug
/SerializeJson/obj
/Diiage2020.CsharpGame.Client.Entities/bin/Debug/netstandard2.0
/Diiage2020.CsharpGame.Client.Services/bin/Debug/netstandard2.0
/SerializeJson/bin/Debug/netstandard2.0
/Diiage2020.CsharpGames.Client.UWP/bin/ARM/Debug
/Diiage2020.CsharpGames.Client.UWP/BundleArtifacts
